version: 2
updates:
  # Fetch and update latest `npm` packages
  - package-ecosystem: npm
    directory: /
    versioning-strategy: increase
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 10
    reviewers:
      - stefanobartoletti
    assignees:
      - stefanobartoletti
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope

  # Fetch and update latest github actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 10
    reviewers:
      - stefanobartoletti
    assignees:
      - stefanobartoletti
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
